<div class="container view-branch">
  <div class="row">
    <div class="col-md-12">
      <div class="header">
        <div class="street-name" *ngFor="let record of records; let i = index">
          <h2 class="title" *ngIf="i<1"> {{ record.AddressLine }} </h2>
          <p *ngIf="i<1"> <span class="label">Address: </span> {{ record.AddressLine }}, {{ record.TownName }}, {{ record.PostCode }}, {{ record.CountrySubDivision }}, {{ record.Country }}</p> 
        </div> 
        <p> <span class="label">Working Hours: </span> </p>

        <div class="hours">
          <p> Monday: 09:00 - 17:00 </p>
        </div>

        <div class="contact">
          <p> <span class="label">Contact Info: </span> </p>
          <p>  <span class="label">Phone Number: </span> +44-1224809067 </p>
          <p>  <span class="label">Fax Number: </span> +44-1224809067 </p>
        </div>
      </div>

      <!-- <div class="map-container">
        <app-view-branch-map></app-view-branch-map>
      </div> -->
    </div>
  </div>
</div>
