<div class="container view-branch">
  <div class="row">
    <div class="col-md-12">
      <div class="header">
        <div class="street-name" *ngFor="let record of records; let i = index">
            <h2 class="title" *ngIf="i<1"> {{ record.Name }} - {{ record.PostalAddress.AddressLine }} </h2>
          <p *ngIf="i<1"> <span class="label">Address: </span> {{ record.PostalAddress.AddressLine }}, {{ record.PostalAddress.TownName }}, {{ record.PostalAddress.PostCode }}, {{ record.PostalAddress.CountrySubDivision }}, {{ record.PostalAddress.Country }}</p> 
        </div> 

        <p> <span class="label">Contact Information: </span> </p>
        <div class="hours" *ngFor="let record of records; let i = index">
            <p *ngIf="i<2">  <span class="label"> {{ record.ContactInfo[i].ContactType }} </span> {{ record.ContactInfo[i].ContactContent }} </p>
        </div>

        <p> <span class="label">Working Hours: </span> </p>
        <div class="hours" *ngFor="let record of records; let i = index">
            <p *ngIf="i<5">  <span class="label"> {{ record.Availability.StandardAvailability.Day[i].Name }}: </span>  </p>
        </div>
      </div>

      <!-- <div class="map-container">
        <app-view-branch-map></app-view-branch-map>
      </div> -->
    </div>
  </div>
</div>
