.view-branch {
    padding: 15px 10px;
    border-top: 1px solid #d3d3d3;
}

.title {
    font-size: 25px;
    color: #001154;
}

span.label {
    font-weight: bold;
    color: #001154;
}

fa-icon.ng-fa-icon {
    color: #001154;
}