<div class="container view-branch">
  <div class="row">
    <div class="col-md-12">
      <div class="header">
        <!-- <h2 class="title"> {{ record.Name }} </h2>
        <p> <span class="label">Address: </span> {{ record.PostalAddress }} </p>
        <p> <span class="label">Branch Code: </span> {{ record.branch }} </p> -->
        <p> <span class="label">Working Hours: </span> </p>

        <div class="hours">
          <p> <fa-icon [icon]="faCoffee"></fa-icon> Monday: 09:00 - 17:00 </p>
        </div>

        <div class="contact">
          <p> <span class="label">Contact Info: </span> </p>
          <p>  <fa-icon [icon]="faCoffee"></fa-icon> +44-1224809067 </p>
        </div>
      </div>

      <!-- <div class="map-container">
        <app-view-branch-map></app-view-branch-map>
      </div> -->
    </div>
  </div>
</div>