<div class="container">
    <div class="row">
      <div class="col-md-12">
          <ul class="list-branches">
              <li><a href="#" (click)="toggleView($event)"> ABERDEENSHIRE | HALIFAX BRANCH 52 - 54 UNION STREET </a></li>
              <app-view-branch *ngIf="isExpanded"></app-view-branch>
              <li><a href="#" (click)="toggleView($event)"> ABERDEENSHIRE | HALIFAX BRANCH 52 - 54 UNION STREET </a></li>
              <li><a href="#" (click)="toggleView($event)"> ABERDEENSHIRE | HALIFAX BRANCH 52 - 54 UNION STREET </a></li>
              <li><a href="#" (click)="toggleView($event)"> ABERDEENSHIRE | HALIFAX BRANCH 52 - 54 UNION STREET </a></li>
              <li><a href="#" (click)="toggleView($event)"> ABERDEENSHIRE | HALIFAX BRANCH 52 - 54 UNION STREET </a></li>
          </ul>
      </div>
    </div>
  </div>