.list-branches {
    padding-left: 0;
    display: block;
    width: 1000px;
}

.list-branches li {
    list-style: none;
    border: 1px #dcdbdb solid;
    border-radius: 5px;
    padding: 10px;
}

.list-branches li a {
    display: block;
    width: 100%;
}

.branch-details{
    padding: 15px 10px;
    border-top: 1px solid #d3d3d3;
}

.title {
    font-size: 25px;
    color: #001154;
}

span.label {
    font-weight: bold;
    color: #001154;
}

.loading-gif {
    text-align: center;
    margin: 0 auto;
}

/* testing purposes */
input {
    width: 600px;
}

button {
    width: 125px;
}

.input-search {
    display: inline-flex;
}